# Decision Tree

### Goal: Build a Basic Decision Tree

#### 1) Read in state.csv data
#### 2) Create basic daily volatility/momentum variables/signals
#### 3) Fit the tree 
#### 4) Predict returns

In [1]:
### Load Libraries
#Load the librarys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams

import plotly.tools as tls
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot, plot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import warnings

## Read in Data

In [9]:
df_features = pd.read_csv("/Users/YoungFreeesh/Documents/GitHub/stat479_project/Data/prices.csv", sep= '\t')

df_features.head(6)

       date Ticker       open      close        low       high    volume
0  10/19/16    AAL  39.480000  40.630001  39.400002  40.810001  12764200
1  11/23/16    AAL  46.049999  46.340000  45.700001  46.389999   5160200
2   11/3/16    AAL  39.779999  39.380001  39.299999  40.240002   6006500
3  10/31/16    AAL  40.310001  40.599998  40.080002  40.810001   5961100
4   12/7/16    AAL  46.610001  48.650002  46.520000  48.939999  10210300
5  12/27/16    AAL  48.290001  48.610001  48.139999  48.919998   2797800

In [ ]:
# Computing RSI
rsi = ro

# Computing


# Computing ADX


# Create Label