In [1]:
import pandas as pd

df_features=pd.read_csv('C:/Users/meenm/OneDrive - UW-Madison/Github/stat479_project/Data/prices.csv')

df_features['date'] = pd.to_datetime(df_features['date'])
df_features.head()

        date Ticker       open      close        low       high     volume
0 2010-01-04    AAL   4.840000   4.770000   4.660000   4.940000    9837300
1 2010-01-04    AAP  40.700001  40.380001  40.360001  41.040001    1701700
2 2010-01-04   AAPL  30.490000  30.572857  30.340000  30.642857  123432400
3 2010-01-04    ABC  26.290001  26.629999  26.139999  26.690001    2455900
4 2010-01-04    ABT  26.000339  26.129884  25.870792  26.177866   10829000

In [2]:
import matplotlib.pyplot as plt

a = df_features.loc[df_features.loc[:,'Ticker'] == 'AAL', ['date', 'close']]
a.plot(x = 'date', y = 'close')
plt.show()

In [3]:
from sklearn.ensemble import RandomForestRegressor

X_train = df_features.loc[(df_features['date'] < '2016-01-01'),:]
y_train = X_train['close']
X_train.drop(['close', 'date'], axis = 1, inplace = True)

X_test = df_features.loc[(df_features['date'] > '2015-12-31'), :]
y_test = X_test['close']
X_test.drop(['close', 'date'], axis = 1, inplace = True)

#X_train.head()
X_train.head()

c:\users\meenm\appdata\local\programs\python\python36\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

  Ticker       open        low       high     volume
0    AAL   4.840000   4.660000   4.940000    9837300
1    AAP  40.700001  40.360001  41.040001    1701700
2   AAPL  30.490000  30.340000  30.642857  123432400
3    ABC  26.290001  26.139999  26.690001    2455900
4    ABT  26.000339  25.870792  26.177866   10829000

In [4]:
X_train_one = X_train.loc[X_train['Ticker'] == 'AAPL', :]
y_train_one = y_train[X_train_one.index]

X_test_one = X_test.loc[X_test['Ticker'] == 'AAPL', :]
y_test_one = y_test[X_test_one.index]

X_train_one.drop(['Ticker'], axis = 1, inplace = True)
X_test_one.drop(['Ticker'], axis = 1, inplace = True)

mod = RandomForestRegressor()
mod.fit(X_train_one, y_train_one)
#mod.fit(X_train, y_train)

c:\users\meenm\appdata\local\programs\python\python36\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [11]:
from sklearn.metrics import mean_squared_error

y_pred = mod.predict(X_test_one)
y_test_one_df = pd.DataFrame(y_test_one)
print(mean_squared_error(y_test_one, y_pred))

0.6366600208803723

In [9]:
print(y_pred[0])
print(y_test_one.iloc[0])

102.94699940000001
105.349998